* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --just-white: #fff;
  --just-black: #000000;
  --light-orange: #ffa167;
  --first-orange: #ff6200;
  --second-orange: #ff1a00;
  --third-orange: #b60900;
  --fourth-orange: #930300;
  --fifth-orange: #590200;
  --sixth-orange: #380100;
}

/* HEADER */
.header-principal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
}
.background-header-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  background: linear-gradient(
      150deg,
      var(--sixth-orange),
      var(--fourth-orange),
      var(--just-black)
    )
    0 0 / 1000% no-repeat;
  animation: animation-header 10s ease infinite;
  z-index: -1;
}
@keyframes animation-header {
  0% {
    background-position: 0 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0 30%, 0 0;
  }
}
.background-header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -2;
}
.header-principal__image {
  width: 140px;
  height: auto;
  margin-top: 60px;
  align-self: center;
}
.header-principal--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header-principal__title {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--just-white);
  font-family: "Montserrat";
}
.header-principal__description {
  margin-top: 23px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: var(--just-white);
}

.main-principal {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

/* INFO SECTION */
.info-section {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.info-section--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.info-section--title-text {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--fifth-orange);
  font-family: "Montserrat";
}
.info-section--title-description {
  padding-top: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #535353;
}

/* CATEGORIES SECTION */
.categories-section {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: #6e0d00;
}
.categories-section--swapdeal-logo {
  position: absolute;
  width: 85px;
  height: 48px;
  top: -15px;
  left: calc(50% - 28px);
}

.categories-section--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.categories-section--title-text {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #ffffff;
}
.categories-section--title-description {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #ffffff;
}

.card{
  align-items: center;
  height: 50px;
}

.cardh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8B4513;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.cardt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E90FF;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.cardm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FF69B4;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.cardd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #088a08;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.carde{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFD700;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.cardhe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4682B4;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.cardsa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e18693;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.cardma{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FF6347;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.cardau{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FF4500;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}

.cardv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6A5ACD;
  height: 150px;
  width: 20%;
  padding: 5%;
  text-align: center;
}


/* CATEGORIES SECTION CARDS */
.categories-section--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.categories-section--cards {
  width: 100%;
  
  padding: 15px;
  background-color: var(--warm-black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.card-bodyy {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.swapdeal-image-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("./assets/img/shakehands.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.swapdeal-image-container__color {
  position: absolute;
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: #000000;
  opacity: 0.5;
}
.swapdeal-image-container--text {
  position: relative;
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  text-align: center;
}

/* TESTIMONIALS SECTION */

.testimonials-section--title{
  background-color: #b60900;
  padding: 3%;
}

.testimonials-section--cards{
  background-color: #b60900;
  padding: 2%;
}

.card-titlee{
  font-size: 18px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.card-body{
  margin-top: 0%;
  margin-bottom: 5%;
}

.testimonials-section {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-bottom: 15px;
  padding-top: 150px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.testimonials-section--title-text {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #fff;
}
.testimonials-section--description {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.testimonials-section--list {
  font-size: 1.4rem;
  color: #757575;
  list-style-type: disc;
  margin-left: 20px;
  text-align: left;
  display: inline-block;
}
.testimonials-section--list li {
  margin-bottom: 10px;
}

/* ABOUT US SECTION */
.about-us-section {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-bottom: 180px;
  padding-top: 100px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.about-us-section--title-text {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
  
}

.espa{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  padding: 5%;
}

.about-us-section--description {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.about-us-section--list {
  font-size: 1.4rem;
  color: #757575;
  list-style-type: disc;
  margin-left: 20px;
  text-align: left;
  display: inline-block;
}
.about-us-section--list li {
  margin-bottom: 10px;
}