* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --just-white: #fff;
  --just-black: #000000;
  --light-orange: #ffa167;
  --first-orange: #ff6200;
  --second-orange: #ff1a00;
  --third-orange: #b60900;
  --fourth-orange: #930300;
  --fifth-orange: #590200;
  --sixth-orange: #380100;
}

/* HEADER */
.header-principal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
}
.background-header-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el tamaño del video para que cubra todo el contenedor */
  opacity: 0.8;
  background: linear-gradient(
      150deg,
      var(--sixth-orange),
      var(--fourth-orange),
      var(--just-black)
    )
    0 0 / 1000% no-repeat;
  animation: animation-header 10s ease infinite;
  z-index: -1;
}
@keyframes animation-header {
  0% {
    background-position: 0 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0 30%, 0 0;
  }
}
.background-header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el tamaño del video para que cubra todo el contenedor */
  opacity: 1;
  z-index: -2;
}
.header-principal__image {
  width: 140px;
  height: auto;
  margin-top: 60px;
  align-self: center;
}
.header-principal--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header-principal__title {
  font-size: 2.3rem;
  font-weight: 1000;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header-principal__description {
  margin-top: 23px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: var(--just-white);
}

.main-principal {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

/* MAIN SECTION 1*/
.main-principal-section-1 {
  width: 100%;
  min-width: 320;
  padding-bottom: 70px;
  text-align: center;
}
.main-principal-section-1--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.main-principal-section-1--title-text {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-principal-section-1--title-description {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #535353;
}

/* MAIN SECTION 2 */
.main-principal-section-2 {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: #6e0d00;
}
.main-principal-section-2--swapdeal-logo {
  position: absolute;
  width: 85px;
  height: 48px;
  top: -15px;
  left: calc(50% - 28px);
  background-image: url("../../../public/assets/icons/LogoSwapDeal.svg");
}
.main-principal-section-2--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.main-principal-section-2--title-text {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.main-principal-section-2--title-description {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #c0c0c0;
}

/* MAIN SECTION 2 CARDS*/
.main-principal-section-2--cards .--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.--card .--card__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.--card .clock {
  background-image: url(./assets/icons/clock.svg);
}
.--card .eye {
  background-image: url(./assets/icons/eye.svg);
}
.--card .money {
  background-image: url(./assets/icons/dollar-sign.svg);
}
.--card .tick {
  background-image: url(./assets/icons/check-circle.svg);
}
.--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #c0c0c0;
}

.swapdeal-image-container {
  width: 100%;
  min-width: 320;
  height: 50vh;
  background-image: url("./assets/img/shakehands.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.swapdeal-image-container__color {
  position: absolute;
  width: 100%;
  min-width: 320;
  height: 50vh;
  background: #000000;
  opacity: 0.5;
}
.swapdeal-image-container--text {
  position: relative;
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  text-align: center;
}

/* MAIN SECTION 3 */
.main-principal-section-3 {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-bottom: 180px;
  padding-top: 150px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.main-principal-section-3--title-text {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-principal-section-3--description {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
