.permuta-completada {
  font-family: "Montserrat";
  width: 90%;
  margin: 5px auto;
  padding: 10px 25px 10px 25px;
  color: #000;
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.12);
  border-radius: 10px;
}
.permuta-completada h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #750d0d;
}

.permuta-completada-usuarios {
  display: flex;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.logo-cambio {
  margin: auto 0;
  color: #750d0d;
  font-weight: 600;
}
.permuta-completada-usuarios-datos {
  width: 100%;
  text-align: center;
}
.permuta-completada-fecha {
    margin-top: 10px;
    text-align: center;
    color: #750d0d;
}