:root {
  --just-white: #fff;
  --just-black: #000000;
  --light-orange: #ffa167;
  --first-orange: #ff6200;
  --second-orange: #ff1a00;
  --third-orange: #b60900;
  --fourth-orange: #930300;
  --fifth-orange: #590200;
  --sixth-orange: #380100;
}

.expandable-container {
  height: auto;
  margin: 20px;
  border-radius: 20px;
  border: solid 2px #ff7a7a;
  overflow: hidden;
  transition: all 0.3s ease;
}

.expandable-container .header {
  background: linear-gradient(
    -1985deg,
    var(--first-orange) 20%,
    var(--second-orange) 60%,
    var(--third-orange) 100%
  );
  cursor: pointer;
  padding: 10px;
}

.expandable-container .header h2 {
  margin: 0;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
}

.content {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content.expanded {
  margin: 10px;
  max-height: 500px; /* Ajusta según el contenido que tengas */
  padding: 60%;
  
}

.solicitud-permuta-completa {
  margin-top: 15px;
  display: flex;
  flex-direction: column; /* Cambiar a columna si hay problemas de espacio */
  align-items: flex-start; /* Alinear a la izquierda */
}

.solicitud-mi-producto__container, .solicitud-su-producto__container {
  margin-bottom: 15px; /* Añadir un margen inferior */
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
}

.solicitud-buttons {
  display: flex;
  justify-content: center; /* Alinea los botones al centro */
  margin-top: 10px; /* Agrega margen superior */
}

.solicitud-buttons button {
  margin: 0 5px; /* Espaciado entre botones */
  padding: 10px 20px; /* Aumenta el padding para hacer los botones más grandes */
  font-size: 1.2rem; /* Tamaño de la fuente */
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
  transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.solicitud-buttons .confirmar-button {
  background: linear-gradient(
    -1985deg,
    var(--first-orange) 20%,
    var(--second-orange) 60%,
    var(--third-orange) 100%
  );
  color: white;
}

.solicitud-buttons .rechazar-button {
  border: solid 2px #fa9797;
  background-color: white;
  color: black;
}

.solicitud-buttons .confirmar-button:hover {
  transform: scale(1.05); /* Agranda el botón un poco */
  background: #0b8000;
}

.solicitud-buttons .rechazar-button:hover {
  color: white;
  background: #800000;
}

.expandable-container.solicitud-enviada {
  background-color: #e0f7fa; /* Azul claro para enviadas */
}

.expandable-container.solicitud-recibida {
  background-color: #ffebee; /* Rojo claro para recibidas */
}

.mensaje {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fade-in-out 2s ease-in-out;
}

.mensaje-exito {
  background-color: #28a745;
  color: white;
}

.mensaje-error {
  background-color: red;
  color: white;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}