:root {
  --color-boton: linear-gradient(20deg, rgb(204, 0, 0), rgb(185, 68, 0));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cargarArticulo-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/assets/img/cargarArticulo-image.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.cargarArticulo-wrapper {
  height: 100vh;
  background: linear-gradient(
      45deg,
      rgb(90, 33, 33),
      rgb(136, 76, 37),
      rgb(105, 29, 29),
      rgb(92, 50, 23),
      rgb(80, 27, 27)
    )
    0 0 / 1000% no-repeat;
  animation: animate-login 7s ease infinite;
  opacity: 0.7; /* Ajusta la opacidad según sea necesario */
}
@keyframes animate-login {
  0% {
    background-position: 0 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0 30%, 0 0;
  }
}

.body-cargarArticulo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
}
.volver-carga {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #b60900;
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 20px;
  margin-left: 20vw;
}

.text-cargar {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 20vw;
  margin-top: 10vh;
  padding-bottom: 5vh;
}

.formu-carga {
  height: 50vh;
  width: 60vw;
  margin: 6vh auto;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "foto formu";
}

.espacio-fo {
  padding: 5%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #2b2a2a dashed;
  margin: 5%;
  background: #fff;
}

.image-upload-container {
  font-family: "Montserrat";
  font-weight: 600;
}

.image-input {
  padding: 2%;
}

.upload-input {
  position: absolute;
  left: -9999px;
}
.upload-label {
  color: #af8181;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.07);
  padding: 0%;
}

.formulario {
  padding: 5%;
  grid-area: formu;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

/* TITULO */
.titu {
  color: #000000;
  display: flex;
  flex-direction: column;
}
.titu label {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.inpu-ti {
  font-family: "Montserrat";
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #000000;
  width: 90%;
  border: none;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.07);
  border-radius: 15px;
  padding: 8px;
}

/* CATEGORIA */
.cate {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.cate label {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.caja {
  font-family: "Montserrat";
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #000000;
  width: 90%;
  border: none;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.07);
  border-radius: 15px;
  padding: 7px;
}
.optio {
  background-color: #ffffff;
  color: #000000;
}

/* USO */
.uso {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.uso label {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.inpu-us {
  font-family: "Montserrat";
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #000000;
  width: 90%;
  border: none;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.07);
  border-radius: 15px;
  padding: 8px;
}

/* DESCRIPCION */
.descrip {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}
.descrip label {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.inpu-des {
  font-family: "Montserrat";
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #000000;
  width: 90%;
  border: none;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.07);
  border-radius: 15px;
  padding: 8px 8px 30% 8px;
}

.envia {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #b60900;
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 20px;
  align-self: self-end;
  margin-right: 20vw;
  transition: transform 0.3s ease, color 0.3s ease;
}
.envia:hover {
  transform: scale(1.1);
  border: solid 1px #fff;
}
