.main-categoria-banner {
  width: 100%;
  height: 300px;
  background-color: black;
  background-image: url("../../public/assets/img/categorias-fondo.png");
  background-position: center 75%;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-categoria-banner__image {
  width: 100%;
  height: 300px;
  box-shadow: inset 0 0 40px 10px rgba(0, 0, 0, 0.2);
}
.categoria-title {
  font-size: 2.5rem;
  color: #ffffff;
  padding-top: 100px;
  padding-left: 20%;
  font-weight: bold;
  font-family: "Montserrat";
  justify-content: left;
}

.main-categorias {
  width: auto;
  height: auto;
  background-color: #fff;
  padding-bottom: 10%;
  padding-top: 2%;
}
.main-categorias-title {
  font-size: 2rem;
  color: rgb(117, 0, 0);
  padding-top: 80px;
  padding-left: 20%;
  font-weight: bold;
  font-family: "Montserrat";
}
.main-categorias-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
