:root {
  --color-boton: linear-gradient(20deg, rgb(204, 0, 0), rgb(185, 68, 0));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selec {
  font-size: 18px;
  margin-right: 10px; /* Ajusta el margen según sea necesario */
}

.editarArticulo-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/assets/img/editar-fondo.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.editarArticulo-wrapper {
  height: 100vh;
  background: linear-gradient(
      45deg,
      rgb(90, 33, 33),
      rgb(136, 76, 37),
      rgb(105, 29, 29),
      rgb(92, 50, 23),
      rgb(80, 27, 27)
    )
    0 0 / 1000% no-repeat;
  animation: animate-login 7s ease infinite;
  opacity: 0.7; /* Ajusta la opacidad según sea necesario */
}
@keyframes animate-login {
  0% {
    background-position: 0 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0 30%, 0 0;
  }
}

.body-editarArticulo {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Montserrat";
}


.text-editarArticulo {
  margin-top: 1%;
  font-size: 4vh;
  margin-left: 20%;
  margin-bottom: 1vh;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 20vw;
  padding-bottom: 2vh;
}

.formu-editarArticulo {
  margin-left: 20vw;
  margin-right: 20vw;
}

.image-upload-container {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
}

.upload-input {
  display: none; /* Oculta el input por defecto */
}

.upload-labelArticulo {
  cursor: pointer; /* Cambia el cursor para indicar que es clicable */
}

.image-container {
  width: 300px; /* Ajusta el tamaño según sea necesario */
  height: 300px; /* Ajusta el tamaño según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* Opcional: Agrega un borde para distinguir el contenedor */
  margin-top: 20px;
  margin-left: 20px; /* Ajusta el margen según sea necesario */
}

.current-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.espacio-foArticulo {
  padding: 0;
  margin: 0px 40px 0px 30px;
  display: flex;
  flex-direction: row;
}

.formulario-editarArticulo {
  width: 100%;
  margin-top: 0;
}

.mensaje {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fade-in-out 2s ease-in-out;
}

.mensaje-exito {
  background-color: #28a745;
  color: white;
}

.mensaje-error {
  background-color: red;
  color: white;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tie {
  font-size: 15px;
}

.descripcion {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}


.descrip {
  width: 90%; /* Ajusta el ancho a tu necesidad */
  height: 60px; /* Ajusta la altura a tu necesidad */
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */
  box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
  padding: 1%;
  margin-bottom: 2vh;
  border-radius: 7px;
  margin-top: 8px;
  background-color: #fff;
  color: black;
}

.descrip::placeholder {
  color: black; /* Color del placeholder */
}

.desc {
  font-weight: bolder;
  font-size: 15px;
}

.botoness{
  display: flex;
  flex-direction: row;
}


.enviaa {
  color: #ffffff;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #b60900;
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.envia:hover {
  transform: scale(1.1);
  border: solid 1px #fff;
}



