* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inicio-main {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-bottom: 5%;
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* HEADER */
.fondo-video {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}
.header-inicio {
  position: relative;
  z-index: 2;
}
.background-video-inicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: 0;
  filter: grayscale(80%) contrast(100%);
}
.header-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  background: linear-gradient(150deg, #cc2929, #eb553b, #ee6464) 0 0 / 1000%
    no-repeat;
  animation: animation-header 10s ease infinite;
  z-index: 1;
}

.informacion-secciones {
  width: 100%;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  flex-direction: column;
}
.primer-container-inicio {
  display: flex;
  flex-direction: row;
}
.mundo-cambiante {
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  width: 50vw;
  height: auto;
  margin: 1% 1% 1% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a1d02;
}
.video-mundo {
  width: auto;
  height: 35vh;
  margin-right: 1%;
  border-radius: 10px 0px 0px 10px;
}
.texto-mundo {
  text-align: center;
  color: #fff;
  width: auto;
  height: auto;
  font-weight: bolder;
  padding-right: 1vw;
}

.cantidad-permutas {
  color: #ffffff;
  height: auto;
  background-color: #8a1d02;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  border-radius: 7px;
  width: 20%;
  padding: 1%;
  margin: 1% 0% 1% 0%;
  text-align: center;
}
.permutas-en {
  color: #ffffff;
  height: 10%;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-top: 1%;
  padding-bottom: 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.numeros-permutas {
  font-weight: 500;
  font-size: 1.5rem;
}

.comentarios-positivos {
  color: #000000;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  border-radius: 7px;
  text-align: center;
  height: auto;
}
.comen {
  color: #9b1515;
  width: 100%;
  font-weight: bolder;
  font-size: 2vh;
  padding-top: 1%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.caja-comentarios {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
}
.comentario1 {
  font-size: 1.2rem;
}
.comentario2 {
  font-size: 1.2rem;
  padding-bottom: 3%;
}



.seccion-articulos-recomendados {
  width: 100%;
  margin-left: 20vw;
  margin-right: 20vw;
  height: 80vh;
}
.articulos-recomendados {
  color: #000000;
  font-weight: bolder;
  font-size: 2vh;
}

.main-inicio-articulos-container {
  width: 100%;
  height: 85%; /* Ajusta la altura según tu necesidad */
  background-color: #f8f8f8;
  margin: 10px auto;
  border-radius: 30px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  padding: 30px;
  overflow: hidden; /* Oculta el overflow en el contenedor principal */
  position: relative; /* Posiciona el contenedor relativo para contener el absoluto */
}
.scrollable-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(
    92% + 12px
  ); /* Aumenta el ancho para evitar que el scroll esté al borde */
  height: 80%;
  overflow-y: auto; /* Añade el scrollbar vertical */
  padding-right: 20px; /* Espacio para scrollbar a la derecha */
  position: absolute;
  bottom: 40px;
}
