.main-perfil {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding-bottom: 15vh;
  margin-bottom: 3vh;
}

.main-perfil-foto {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #ffa4a4fd;
  border-radius: 300px;
  margin-left: 7%;
  top: 100px;
  box-shadow: inset 0 0 0 10px #ffffff;
  margin: 50px auto; /* Esto centrará el elemento horizontalmente */
  left: 0;
  right: 70vw;
  background-image: url("../../public/assets/img/perfilFoto.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-perfil-banner {
  width: 100%;
  height: 300px;
  background-color: black;
  background-image: url("../../public/assets/img/perfilbanner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.main-perfil-banner__image {
  width: 100%;
  height: 300px;
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.main-perfil-container {
  display: flex;
}
.main-perfil-data {
  width: 30vw;
  height: 80vh;
  background-color: #ffffff;
}
.main-perfil-data-container {
  width: 80%;
  height: 62%;
  margin: 170px auto 20px auto;
  padding: 20px 70px 70px 70px;
  display: flex; /* Convertir el contenedor en flexbox */
  flex-direction: column;
  align-items: center;
}
.main-perfil-data-container h3 {
  font-family: "Montserrat";
  color: black;
  font-size: 2.5rem;
}
.main-perfil-data-container h4 {
  font-family: "Montserrat";
  color: black;
  padding-top: 30px;
  font-size: 1.5rem;
}
.main-perfil-data-container p {
  padding-top: 10px;
  font-family: "Montserrat";
  color: #797979;
  font-size: 1.2rem;
}
.main-perfil-data-container .emojis {
  padding-top: 10px;
  font-family: "Montserrat";
  color: #797979;
  font-size: 1.5rem;
}

.main-perfil-articulos {
  width: 70vw;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.main-perfil-articulos-buttons {
  width: 100%;
  height: 60px;
  padding-left: 140px;
  padding-top: 30px;
}
.main-perfil-articulos-buttons button {
  border: none;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  color: rgb(255, 255, 255);
  margin-right: 20px;
  font-size: 1.3rem;
  font-family: "Montserrat";
  transition: transform 0.3s ease, color 0.3s ease;
  background: #ff4a3d;
}
.main-perfil-articulos-buttons button:hover {
  transform: scale(1.1);
}
.main-perfil-articulos-container {
  width: 80%;
  height: 85%; /* Ajusta la altura según tu necesidad */
  background-color: #f3f3f3;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  border: solid #ebebeb 1px;
  padding: 30px;
  overflow: hidden; /* Oculta el overflow en el contenedor principal */
  position: relative; /* Posiciona el contenedor relativo para contener el absoluto */
}
.cartera-de-inventario {
  color: var(--fourth-orange);
  font-family: "Montserrat";
  font-size: 1.7rem;
  padding-left: 25px;
}
.scrollable-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(92% + 12px); /* Aumenta el ancho para evitar que el scroll esté al borde */
  height: 80%;
  overflow-y: auto; /* Añade el scrollbar vertical */
  padding-right: 20px; /* Espacio para scrollbar a la derecha */
  position: absolute;  
  bottom: 40px;
}
/* Estilos para la scrollbar en Webkit */
.scrollable-content::-webkit-scrollbar {
  width: 10px; /* Ancho de la scrollbar */
}
.scrollable-content::-webkit-scrollbar-track {
  background: #e7e7e7; /* Color de fondo del track */
  border-radius: 10px;
  margin-top: 30px; /* Espacio superior para hacer la scrollbar más corta */
  margin-bottom: 50px; /* Espacio inferior para hacer la scrollbar más corta */
}
.scrollable-content::-webkit-scrollbar-thumb {
  background: #d88585; /* Color del thumb */
  border-radius: 10px;
}
.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #790808; /* Color del thumb al pasar el mouse */
}

@media (max-width: 425px) {
  .main-perfil-articulos-container {
    width: 70%; /* Ajusta el ancho al 100% para pantallas pequeñas */
    padding: 20px; /* Ajusta el padding si es necesario */
  }
  .scrollable-content {
    width: calc(90%); /* Ajusta el ancho según el ancho de la scrollbar */
     /* Ajusta la posición izquierda del contenedor interno */
    padding-right: 10px; /* Ajusta el espacio para la scrollbar */
  }
  .scrollable-content::-webkit-scrollbar {
    width: 8px; /* Reduce el ancho de la scrollbar para pantallas pequeñas */
  }
  .scrollable-content::-webkit-scrollbar-track {
    margin-top: 20px; /* Ajusta el margen superior para pantallas pequeñas */
    margin-bottom: 50px; /* Ajusta el margen inferior para pantallas pequeñas */
  }
  .scrollable-content::-webkit-scrollbar-thumb {
    border-radius: 5px; /* Ajusta el radio de la scrollbar para pantallas pequeñas */
  }
}

