.secciones-ayuda{
    width: auto;
    height: auto;

    background-color: #fcfcfc;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
}

.ayuda-title{
    font-size: 2rem;
    color: #380100;
    padding-top: 80px;
    padding-left: 20%;
    font-weight: bold;
    font-family: "Montserrat";

    justify-content: left;
}

.preguntas-frecuentes{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preguntass{
    color: #380100;
    margin-right: 85%;
    margin-bottom: 2%;
}

.acciones-recomendadas{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.acciones{
    color: #380100;
    margin-right: 82%;
    margin-bottom: 1%;
}

.lis-acciones{
    color: black;
    margin-right: 80%;
    box-shadow: 2px 2px 5px #3333;
    padding: 2%;
    border-radius: 20px;
}


.enviar-consulta{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20%;
    margin-top: 30px;

}