* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.inicio-main {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: #fff;
    padding-bottom: 20rem;
}


.secciones-grid {  

  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-template-rows: 1fr 0.8fr 1.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "categorias-mas-intercambiada seguirdad-swapdeal"
    "informacion-sobre-app comentarios-positivos"
    "mundo-cambiante cantidad-permutas";

    background-color: black;
}

.video-mundo{
  width: 100%;
  height: 20vh;
}

.mundo-cambiante { 
  grid-area: mundo-cambiante;
  background-color: #fff;
}

.cantidad-permutas { grid-area: cantidad-permutas; }

.comentarios-positivos { grid-area: comentarios-positivos; }

.seguirdad-swapdeal { grid-area: seguirdad-swapdeal; }

.categorias-mas-intercambiada { grid-area: categorias-mas-intercambiada; }

.informacion-sobre-app { grid-area: informacion-sobre-app; }
