.main-perfil {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #eee;
  padding-bottom: 30vh;
  z-index: -1;
  margin-bottom: 3vh;
}

.main-perfil-foto {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #ffa4a4fd;
  border-radius: 300px;
  margin-left: 7%;
  margin-top: 3%;
  box-shadow: inset 0 0 0 10px #fff;
  margin: 50px auto; /* Esto centrará el elemento horizontalmente */
  left: 0;
  right: 70vw;
  background-image: url("../../public/assets/img/user-perfil.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-perfil-banner {
  width: 100%;
  height: 200px;
  background-color: black;
  background-image: url("../../public/assets/img/perfilbanner.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-perfil-banner__image {
  width: 100%;
  height: 200px;
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

.main-perfil-container {
  display: flex;
}
.main-perfil-data {
  width: 30vw;
  height: 80vh;
  background-color: #eee;
}
.main-perfil-data-container {
  width: 80%;
  height: 62%;
  margin: 170px auto 20px auto;
  padding: 20px 70px 70px 70px;
  display: flex; /* Convertir el contenedor en flexbox */
  flex-direction: column;
  align-items: center;
}
.main-perfil-data-container h3 {
  font-family: "Montserrat";
  color: black;
  font-size: 2.5rem;
}
.main-perfil-data-container h4 {
  font-family: "Montserrat";
  color: black;
  padding-top: 30px;
  font-size: 1.5rem;
}
.main-perfil-data-container p {
  padding-top: 10px;
  font-family: "Montserrat";
  color: #797979;
  font-size: 1.2rem;
}

.main-perfil-articulos {
  width: 70vw;
  height: auto;
  background-color: #eee;
}
.main-perfil-articulos-container {
  width: 80%;
  height: 85%; /* Ajusta la altura según tu necesidad */
  background-color: #f8f8f8;
  margin: 70px auto;
  border-radius: 30px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.07);
  padding: 30px;
  overflow: hidden; /* Oculta el overflow en el contenedor principal */
  position: relative; /* Posiciona el contenedor relativo para contener el absoluto */
}
.scrollable-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(92% + 12px); /* Aumenta el ancho para evitar que el scroll esté al borde */
  height: 80%;
  overflow-y: auto; /* Añade el scrollbar vertical */
  padding-right: 20px; /* Espacio para scrollbar a la derecha */
  position: absolute;  
  bottom: 40px;
}
/* Estilos para la scrollbar en Webkit */
.scrollable-content::-webkit-scrollbar {
  width: 10px; /* Ancho de la scrollbar */
}
.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
  border-radius: 10px;
  margin-top: 30px; /* Espacio superior para hacer la scrollbar más corta */
  margin-bottom: 50px; /* Espacio inferior para hacer la scrollbar más corta */
}
.scrollable-content::-webkit-scrollbar-thumb {
  background: #ffc5ae; /* Color del thumb */
  border-radius: 10px;
}
.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #ffa07a; /* Color del thumb al pasar el mouse */
}

@media (max-width: 425px) {
  .main-perfil-articulos-container {
    width: 70%; /* Ajusta el ancho al 100% para pantallas pequeñas */
    padding: 20px; /* Ajusta el padding si es necesario */
  }
  .scrollable-content {
    width: calc(90%); /* Ajusta el ancho según el ancho de la scrollbar */
     /* Ajusta la posición izquierda del contenedor interno */
    padding-right: 10px; /* Ajusta el espacio para la scrollbar */
  }
  .scrollable-content::-webkit-scrollbar {
    width: 8px; /* Reduce el ancho de la scrollbar para pantallas pequeñas */
  }
  .scrollable-content::-webkit-scrollbar-track {
    margin-top: 20px; /* Ajusta el margen superior para pantallas pequeñas */
    margin-bottom: 50px; /* Ajusta el margen inferior para pantallas pequeñas */
  }
  .scrollable-content::-webkit-scrollbar-thumb {
    border-radius: 5px; /* Ajusta el radio de la scrollbar para pantallas pequeñas */
  }
}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .main-perfil-container {
    flex-direction: column;
  }

  .main-perfil-data {
    width: 100%;
    height: auto;
  }
  .main-perfil-articulos {
    width: 100%;
    height: 600px;
  }

  .main-perfil-foto {
    width: 250px;
    height: 250px;
    margin: 150px auto; /* Esto centrará el elemento horizontalmente */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Esto corrige la centración vertical */
  }
}

@media (max-width: 1024px) {
  .main-perfil-foto {
    width: 200px;
    height: 200px;
    top: 50px;
  }
}
