.articulo-container {
  width: 200px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #3333;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.articulo-categoria-container {
  width: 100%;
  height: 20%;
}
.articulo-categoria-container h4 {
  background-color: rgb(173, 0, 0);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #33333341;
  font-size: 1.2rem;
  font-weight: bold;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.articulo-image-container {
  width: 100%;
  height: 50%;
  background-image: url(https://images.fravega.com/f500/ed2799546993d2087a7d15c47648f824.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.articulo-button-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articulo-button-container a {
  background-color: rgb(255, 218, 203);
  color: #ff5100;
  font-family: "Montserrat";
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #3333;
  font-size: 1.2rem;
  font-weight: bold;
  width: 120px;
  height: 45px;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none; /* Asegura que el enlace no tenga subrayado */
  display: flex; /* Agrega flexbox al enlace */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  border: 2px solid #ff7b00;
}

@media (max-width: 425px) {
  .articulo-container {
    width: 180px;
    height: 230px;
  }

  .articulo-categoria-container h4 {
    font-size: 1rem;
  }

  .articulo-button-container a {
    width: 110px;
    height: 40px;
    margin-bottom: 5px;
  }
}
@media (max-width: 320px) {
  .articulo-container {
    width: 180px;
    height: 230px;
  }

  .articulo-categoria-container h4 {
    font-size: 0.8rem;
  }

  .articulo-button-container a {
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
    font-size: 1rem;
  }
}