.mostrar-pregunta{
    color: rgb(0, 0, 0);
}

.ver-preguntas{
    height: auto;
    width: 60vw;

    background-color: rgb(71, 0, 0);
    text-align: left;
    font-size: 1,4rem;
    font-weight: bolder;
    font-family: "Montserrat";
    box-shadow: 2px 2px 5px #3333;
    outline: none !important;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;


    outline: none; 
    border: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}

.lis-preguntas{
    border-color:#000000 ;
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1vh;

}