.mostrar-pregunta{
    color: rgb(0, 0, 0);
    margin-right: 24%;
    margin-bottom: 1%;
}

.ver-preguntas{
    height: auto;
    width: 60vw;

    background-color: #dadada;
    text-align: left;
    font-size: 2vh;
    font-weight: bolder;
    font-family: "Montserrat";
    box-shadow: 2px 2px 5px #3333;
    color: #590200;


    outline: none !important; 
    border: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}

.lis-preguntas{
    margin-top: 5px;
    border-color:#dadada ;
    border-style: solid;
    border-radius: 20px;
    padding: 1vh;

}