:root {
  --just-white: #fff;
  --just-black: #000000;
  --light-orange: #ffa167;
  --first-orange: #ff6200;
  --second-orange: #ff1a00;
  --third-orange: #b60900;
  --fourth-orange: #930300;
  --fifth-orange: #590200;
  --sixth-orange: #380100;
}

.pregunta-expandable-container {
  width: 60vw;
  height: auto;
  margin-top: 20px;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.07);
}

.pregunta-expandable-container .header {
  background: #fff;
  cursor: pointer;
  padding: 10px;
}

.pregunta-expandable-container .header h2 {
  margin: 0;
  color: var(--sixth-orange);
  font-family: "Montserrat";
  font-weight: 700;
}

.contenido {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

.contenido.expanded {
  padding: 10px;
  max-height: 500px; /* Ajusta según el contenido que tengas */
}

